.icons{
    margin: 5px !important;
}

@media only screen and (min-width: 992px){
    .site-main-menu .menu-item-has-children>a:after{
        content: none !important;
    }
}

.block-title h2:after{
    width: 75% !important;
}

@media only screen and (max-width: 991px){
    .site-nav{
        top: 75px !important;
    }
}

.current{
    opacity: 1 !important;
}