.icons{
    margin: 5px !important;
}

@media only screen and (min-width: 992px){
    .site-main-menu .menu-item-has-children>a:after{
        content: none !important;
    }
}

.block-title h2:after{
    width: 75% !important;
}

@media only screen and (max-width: 991px){
    .site-nav{
        top: 75px !important;
    }
}

.current{
    opacity: 1 !important;
}

.past{
    opacity: 0.55 !important;
}

.header{
    padding-bottom: 20px !important;
}
.site-main-menu li a{
    font-size: 14px !important;
}

.site-main-menu li{
    margin-right: 20px !important;
}