.icons{
    margin: 5px !important;
}

@media only screen and (min-width: 992px){
    .site-main-menu .menu-item-has-children>a:after{
        content: none !important;
    }
}

.block-title h2:after{
    width: 75% !important;
}

@media only screen and (max-width: 991px){
    .site-nav{
        top: 75px !important;
    }
}

.current{
    opacity: 1 !important;
}

.past{
    opacity: 0.55 !important;
}

.header{
    padding-bottom: 20px !important;
}
.site-main-menu li a{
    font-size: 14px !important;
}

.site-main-menu li{
    margin-right: 20px !important;
}

.nav-link{
    font-size: 15px !important;
}

.hover-effect:hover{
    transform: translateY(-10px) !important;
    transition: all 1sec !important;
}
/*
Students CSS */
.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  padding-left: 0 !important;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  background-color: wheat;
  border: 4px solid rgb(61, 254, 61);
  top: 15px;
  left: 85px;
  z-index: 20;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  
}

.students{
  margin:auto !important;
}

@media only screen and (min-width:730px) and (max-width:930px){
    .cards{
        grid-template-columns:repeat(2, 1fr) !important;
        column-gap:30px !important;
    }
}

@media only screen and (max-width:730px){
    .cards{
        grid-template-columns:repeat(1, 1fr) !important;
        /* column-gap:30px !important; */
    }
}

@media only screen and (max-width:730px){
  .students{
    grid-template-columns: repeat(1,1fr) !important;
  }

  .card{
    width: 80% !important;
  }
}

@media only screen and (min-width:730px) and (max-width:1200px){
  .students{
    grid-template-columns: repeat(2,1fr) !important;
  }

  .card{
    width: 100% !important;
  }
}