{% extends 'base.html' %}
{% block content %}
<div  id="main-content" class="container">
    <div class="row">


        <div class=" col-xs-12 col-sm-12 ">
            <div id="col_inner_c2094ed9c996102f2ef70b6125c4fbf5" class="fw-col-inner" data-paddings="0px 0px 0px 0px">

                <div class="fw-divider-space" style="padding-top: 50px;"></div>

                <div class="block-title">
                    <h2 style="font-size: 35px;">Field Visits</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}